/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }h1> Hello World</h1>
  <p> My favorite dish to cook is Mac and Cheese. I am orginally from San Diego and have always loved the beach. One of my favorites
  thing to do in San Diego is to surf. I have been surfing since I was in 5th grade and have always loved 
  swimming. I have been on two swim teams and played varsity waterpolo both my freshman and sophmore year<p>#
  <p> 
